.App {
  text-align: center;
  height: 100vh;
  position: relative; /* Needed for absolute positioning of the pseudo-element */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.App:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('C:\\Users\\Chigo\\Downloads\\hollywood-sign.jpg'); /* Double backslashes in the file path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7; /* Adjust for desired transparency level */
  z-index: -1; /* Ensure it's behind the content */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.MuiTab-root:hover {
  background-color: rgb(163, 155, 155);
  color: white;
}

.custom-tab:hover {
  background-color: rgb(163, 155, 155);
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
